@page "/"

<PageTitle>The WebSite</PageTitle>

<h1>Hello and welcome!</h1>

<h4 style="color:chartreuse">Sorry about the mess, we're rebuilding</h4>

<h4 style="color:darkviolet">Relaunch in 2032</h4>


